body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: yellowgreen;
}

header {
    padding: 30px;
      
}
  
.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.galeria img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    margin: 30px;
    padding: 10px 20px;
    cursor: pointer;
}